:root {
    --color-orange-text: #FF6C00;
    --color-subtitle: #303030;
    --color-white: #FFFFFF;
    --color-contacts: #9DA4BD;
    --color-gray: #555555;
    --color-price: #9DA4BD;
}

/* general */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} 

ul, li {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    min-width: 160px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--color-orange-text);
    border-radius: 25px;
    background-color: transparent;
}

/* general */

/* Header */

.header {
    background-color: gray;
    padding-top: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin-right: 130px;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-item {
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--color-white);
}

.header-link:is(:hover, :focus) {
    color: var(--color-orange-text);
}

.header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-white);

    margin-right: 43px;
}

.header-btn {
    color: var(--color-white);
}
/* Header */

/* Section1 */

.hero {
}

.hero-container {
    display: flex;
}

.hero-wrap {
    background-color: wheat;
    flex-grow: 1;
    padding: 272px 100px 208px 100px;
}

.hero-list {
    width: 100px;
}

.hero-item {
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-subtitle);
}

.hero-link:is(:hover, :focus) {
    color: var(--color-orange-text);
}

.hero-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

    margin-bottom: 20px;
}

.hero-title {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--color-white);

    margin-bottom: 20px;
}

.hero-bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--color-price);
    max-width: 360px;
}


/* Section1 */

/* Section2 */
.about {
}

.about-container {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-wrap {
    padding-right: 100px;
}

.about-item {
}

.about-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--color-subtitle);
    margin-bottom: 20px;
}

.about-title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-subtitle);
    margin-bottom: 20px;
}

.about-bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    margin-bottom: 20px;

}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    margin-bottom: 42px;
}

.about-btn {
    color: var(--color-subtitle);
}

/* Section2 */

/*  Section3 */

.prices {
    background-color: gray;
}

.prices-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.prices-title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-white);
    margin-bottom: 44px;
}

.prices-list {
    border: 1px solid white;
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
}

.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--color-price);
}

.prices-wrap {
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
}

.prices-btn {
    color: var(--color-white);
    display: block;
    margin: 0 auto;
}

/*  Section3 */

/* Section4 */

.benefits {
    background-color: wheat;
}

.benefits-list {
}

.benefits-item .count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-item .count + p {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

.benefits-item-text {
}

.benefits-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #303030;
}

.benefits-title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-botton-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

/* Section4 */

/* Section5 */

.barbers {
}

.barbers-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--color-subtitle);

    margin-bottom: 20px;
}

.barbers-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-subtitle);
    
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
    gap: 30px;
}

.barbers-item {
    width: calc((100% -60) / 3);
}

.barbers-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-subtitle);
}

.barbers-item-text {
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-orange-text);
}

/* Section5 */

/* Section6 */

.works {
}

.works-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--color-subtitle);
}

.works-list {
    display: flex;
    gap: 30px;
}

.works-item {
}

/* Section6 */

/* Section7 */

.online-booking {
    background-color: gray;
}

.online-booking-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

/* Section7 */

/* Section8 */

.contacts {
    background-color: #303030;
}

.contacts-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.contacts-list {
}

.contacts-item {
}

.contacts-item-address {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--color-contacts);
}

.contacts-item-contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--color-contacts);
}

.contacts-title-bottom {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--color-white);
}

.contacts-bottom-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--color-contacts);
}


/* Section8 */

/* footer */

.footer {
    background-color: gray;
}


.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-contacts);
}

.footer-list {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-item {
}

.footer-social {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-subtitle);
}

/* footer */